[Unit]
Description=Flask API Server for Big Rock Liveboard
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/bigrock-app
ExecStart=/usr/bin/python3 /home/pi/bigrock-app/app.py
Restart=always

[Install]
WantedBy=multi-user.target